.grid-front-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 1rem;
}

.product_list_container {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  gap: 0;
  align-items: start;
  margin-bottom: 3rem;
  max-width: 100%;
}

.sale_title {
  display: flex;
  justify-content: space-between;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  font-family: var(--li_font);
}

.product_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  font-size: 13pt;
}

.product_details_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  height: fit-content;
}

@media (width > 700px) {
  .grid-front-page {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1rem;
  }

  .grid-front-page div:first-child {
    text-align: right;
  }

  .product_list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
  }

  .product_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    max-width: 100%;
    justify-content: center;
  }
}
