.grid-front-page {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.product_list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.product_list_container {
  display: grid;
  /* grid-template-rows: subgrid; */
  grid-row: span 3;
  gap: 0;
  align-items: start;
  margin-bottom: 3rem;
}

.product_info {
  display: flex;
  justify-content: space-between;
}

.sale_title {
  display: flex;
  justify-content: space-between;
}

@media (width > 700px) {
  .grid-front-page {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: 1rem;
  }

  .grid-front-page div:first-child {
    text-align: right;
  }
}
