@font-face {
  font-family: "WorkSans-ExtraBold";
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraBold.ttf");
}

@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/Work_Sans/static/WorkSans-Bold.ttf");
}

@font-face {
  font-family: "WorkSans-ExtraLight";
  src: url("../fonts/Work_Sans/static/WorkSans-ExtraLight.ttf");
}

@font-face {
  font-family: "WorkSans-Light";
  src: url("../fonts/Work_Sans/static/WorkSans-Light.ttf");
}

html {
  --background_color: red;
  --main_color: white;
  --h1_font: "WorkSans-ExtraBold";
  --li_font: "WorkSans-ExtraLight";
  --h2_font: "WorkSans-Bold";
  scroll-behavior: smooth;
}

body {
  background-color: var(--background_color);
  color: white;
  border: 1rem solid white; /* Add a 30px white border */
  margin: 0; /* Remove default margin */
  box-sizing: border-box; /* Ensure padding and border are included in the element's dimensions */
  min-height: 100vh; /* Ensure the body covers the entire viewport */
}

footer,
main,
header {
  margin: 1rem;
}

h1 {
  font-family: var(--h1_font);
  font-size: 12.8vw;
  margin: 0 auto;
  word-wrap: break-word; /* Break long words if necessary */
  overflow-wrap: break-word;
}

h2 {
  font-family: var(--h2_font);
  font-size: 10pt;
}

ul {
  list-style-type: none;
  font-family: var(--li_font);
  font-size: 27pt;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

@media (width > 700px) {
  h1 {
    font-size: 14vw;
  }
}
